html, body {
    margin: 0px;
    padding: 0px;
}

.section {
    text-align: center;
    margin: 0 auto;
}

.wrapper {
    /*width: 900px;*/
    /*height: 900px;*/
    padding-top: 20px;
    margin: 20px 20px 80px 20px;
    position: relative;
}

.wrapper .cell_wait_player {
    background-color: #fffaf0;
    border: 1px solid #c1cdcd;

    cursor: pointer;
    float: left;
    font-size: 45px;
    height: 55px;
    text-align: center;
    width: 55px;
}

.wrapper .cell_move {
    background-color: aliceblue;
    border: 1px solid #838b8b;

    cursor: pointer;
    float: left;
    font-size: 45px;
    height: 55px;
    text-align: center;
    width: 55px;
}

.wrapper .cell_wait_move {
    background-color: #c1cdcd;
    border: 1px solid #838b8b;

    cursor: pointer;
    float: left;
    font-size: 45px;
    height: 55px;
    text-align: center;
    width: 55px;
}

.wrapper .cell_win {
    background-color: #7fff00;
    border: 1px solid #66cd00;

    cursor: pointer;
    float: left;
    font-size: 45px;
    height: 55px;
    text-align: center;
    width: 55px;
}

.wrapper .cell_lose {
    background-color: #878787;
    border: 1px solid #616161;

    cursor: pointer;
    float: left;
    font-size: 45px;
    height: 55px;
    text-align: center;
    width: 55px;
}

.wrapper .cell_draw {
    background-color: #98f5ff;
    border: 1px solid #7ac5cd;

    cursor: pointer;
    float: left;
    font-size: 45px;
    height: 55px;
    text-align: center;
    width: 55px;
}

.wrapper .cell.victory {
    background-color: #e96e6e;
}

.statistics {
    font-weight: bold;
    text-align: center;
}

.score {
    text-align: center;
    margin-bottom: 20px;
}

.restart {
    text-align: center;
    padding-top: 20px;
}

.restart a {
    display: inline-block;
    padding: 10px 20px;
    background-color: brown;
    color: #fff;
}

.rez_war {
    background-color: brown;
    padding: 50px 0;
    position: absolute;
    text-align: center;
    top: 130px;
    width: 100%;
    display: none;
}

.rez_war p {
    color: #fff;
    font-size: 66px;
    font-weight: bold;
    text-transform: uppercase;
}

.rez_war_no {
    background-color: darkolivegreen;
    padding: 50px 0;
    position: absolute;
    text-align: center;
    top: 130px;
    width: 100%;
    display: none;
}

.rez_text_no {
    color: #fff;
    font-size: 66px;
    font-weight: bold;
    text-transform: uppercase;
}

.victory {
    text-align: center;
    color: #fff;
    background-color: brown;
    padding: 30px 0;
    font-size: 35px;
    position: absolute;
    width: 100%;
    top: 39%;
    display: none;
}

