.head {
}

.h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.h2 {
    color: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 10px;
    text-align: center;
}

.input {
    color: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 10px;
    text-align: left;
}

.output {
    color: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin: 10px 50px 10px;
    text-align: left;
}

.p {
    color: #685206;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}

.button {
    color: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}